body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.crossText{
  text-decoration: line-through;
  width: 61%;
  word-wrap: break-word;
  float: left;
  margin-right: 5px;
}
input[type="checkbox"] {
  float: left;
  position: relative;
  top: 5px;
  margin-right: 5px;

}
.fancyscroller::-webkit-scrollbar {
  width: 8px; /* for vertical scrollbars */
  height: 8px; /* for horizontal scrollbars */
  -webkit-overflow-scrolling: touch !important;
}

.fancyscroller::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

.fancyscroller::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}
.todolist-container{
  height:200px;
  overflow-y: auto;
  overflow-x:hidden ;
}

.wrapper{
  margin: 0 auto;
  float: none;
  width: 30%;
  margin-top: 20px;
}
.simpleText{
  width: 61%;
  word-wrap: break-word;
  float: left;
  margin-right: 5px;
}
.btn{
  margin-right:5px;
  border-radius:0;
}
form{
  margin-top:10px;
}
.Text{
  margin-left:18px;
}
.form-control{
  display: initial;
  width:60%;
  margin-right:10px;
}